In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("felicidad_mal.xls") #felidad_mal.xls
#print(data.head()) # que vemos de extraño

In [3]:
data = data.drop(columns=["DIA"]) #quitamos la columna de dia
#print(data.head())

In [4]:
columnas= data.columns #se extraen las columnas
num_cols = data._get_numeric_data().columns #se extraen los valores numericos de las columnas
print(list(set(columnas) - set(num_cols))) # se restan para ver si queda algun no numerico

['X6']

In [5]:
#en el caso infeliz, la comuna x6 saldrá como no numeroca, podemos cambiar que si sea 1 y no sea 2
data['X6'] = np.where(data.X6 =='si' , 1, 2)
print(data.head())

    X1   X2  X3   X4   X5  X6  X7    D
0  3.0  3.0   3  4.0  2.0   2   1  0.0
1  3.0  2.0   3  5.0  4.0   2   4  0.0
2  5.0  3.0   3  3.0  3.0   2   7  1.0
3  5.0  4.0   3  3.0  3.0   2  12  0.0
4  5.0  4.0   3  3.0  3.0   1   1  0.0

In [6]:
print(data.isnull().sum()) #verificar si hay datos vacios

X1    1
X2    2
X3    0
X4    2
X5    1
X6    0
X7    0
D     2
dtype: int64

In [7]:
outliers = []
for i in range(data.shape[1]):
    min_t = data[data.columns[i]].mean() \
            - (3 * data[data.columns[i]].std())
    max_t = data[data.columns[i]].mean() \
            + (3 * data[data.columns[i]].std())
    count = 0
    for j in data[data.columns[i]]:
        if j < min_t or j > max_t:
            count += 1
    percentage = count / data.shape[0]
    outliers.append(percentage*100)
print(outliers)

[1.3986013986013985, 0.0, 0.6993006993006993, 0.6993006993006993, 0.6993006993006993, 0.0, 0.0, 0.0]

In [8]:
#son nuestros datos cercanos entre si ???
medias = {}
for i in range(data.shape[1]):
    medias[data.columns[i]] = data[data.columns[i]].mean() 
print(medias)

{'X1': 4.359154929577465, 'X2': 2.7943262411347516, 'X3': 3.3566433566433567, 'X4': 3.6666666666666665, 'X5': 3.492957746478873, 'X6': 1.5804195804195804, 'X7': 8.167832167832168, 'D': 0.5390070921985816}

In [9]:
X = data.iloc[:, :7]
Y = data.iloc[:, 7:]


#normalización de los datos
X = (X - X.min()) / (X.max() - X.min())
print(X)

           X1        X2        X3   X4        X5   X6        X7
0    0.181818  0.428571  0.142857  0.8  0.666667  1.0  0.000000
1    0.181818  0.285714  0.142857  1.0  0.888889  1.0  0.214286
2    0.363636  0.428571  0.142857  0.6  0.777778  1.0  0.428571
3    0.363636  0.571429  0.142857  0.6  0.777778  1.0  0.785714
4    0.363636  0.571429  0.142857  0.6  0.777778  0.0  0.000000
..        ...       ...       ...  ...       ...  ...       ...
138  0.363636  0.428571  0.142857  0.2       NaN  1.0  0.214286
139  0.363636  0.285714  0.142857  0.8  0.666667  0.0  1.000000
140  0.363636  0.428571  1.000000  0.8  0.888889  1.0  0.500000
141  0.272727  0.428571  0.142857  0.8  0.888889  0.0  0.428571
142  0.363636  1.000000  0.095238  1.0  1.000000  0.0  0.500000

[143 rows x 7 columns]

In [10]:
#&&&&&&& SPLIT&&&&&&&&&&&&

X.shape
train_end = int(len(X) * 0.6)
dev_end = int(len(X) * 0.8)

X_shuffle = X.sample(frac=1, random_state=0)
Y_shuffle = Y.sample(frac=1, random_state=0)

x_train = X_shuffle.iloc[1:train_end,:]
y_train = Y_shuffle.iloc[1:train_end]
x_dev = X_shuffle.iloc[train_end:dev_end,:]
y_dev = Y_shuffle.iloc[train_end:dev_end]
x_test = X_shuffle.iloc[dev_end:,:]
y_test = Y_shuffle.iloc[dev_end:]

print(x_train.shape, y_train.shape)
print(x_dev.shape, y_dev.shape)
print(x_test.shape, y_test.shape)

(84, 7) (84, 1)
(29, 7) (29, 1)
(29, 7) (29, 1)